version: '3.8'
services:
  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: Dockerfile-nginx
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    volumes:
      - ${PWD}/etc/nginx:/etc/nginx
      - ${PWD}/app:/var/www/html
      - ${PWD}/log/nginx:/var/log/nginx
      - phpsock:/tmp/php
    links:
      - "app"
  db:
    image: mariadb:10.5.10
    container_name: db
    env_file:
      - .env
    volumes:
      - ${PWD}/db/data:/var/lib/mysql
      - ${PWD}/etc/db/my.cnf:/etc/mysql/conf.d/my.cnf
  app:
    build:
      context: .
      dockerfile: Dockerfile-php${PHP_VERSION}
    container_name: app
    working_dir: /var/www/html
    volumes:
      - ${PWD}/app:/var/www/html
      - ${PWD}/etc/php/php.ini:/usr/local/etc/php/php.ini
      - ${PWD}/etc/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ${PWD}/log/phpslow.log:/var/log/phpslow.log
      - ${PWD}/log/phpmail.log:/var/log/phpmail.log
      - phpsock:/tmp/php

volumes:
  phpsock: